.home{
  width: 100%;

}
.home_header {
  background-image: url('/public/favicon/homebg1.jpg'); /* don't use /public in actual URL */
  /* background-size: cover; */
  /* background-position: center; */
  background-blend-mode: darken;
  background-color: #00000090;
  height: 100vh;
  width: 100%;
  position: relative;  
}

.home_headLine {
  color: #D6F1FF;
  font-size: 2rem;
  max-width: 63%;
  position: absolute;
  left: 3rem;
  bottom: 30%;

  animation: moveUp 2s ease-in-out forwards;
}


@keyframes moveUp {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.home_sec1 {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
.home_h1{
  font-size: 2.5rem;
  color: #2c5271;
  /* color: #1c68a7; */
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 3rem;
  
}

.home1_produts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.home1_product_box {
  padding: 1rem 0.6rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px #00000033;
  text-align: center;
  max-height: 210px;
  background: white;
  transition: transform 0.4s ease-in-out;
}

.home1_product_box:hover {
  transform: translateY(-4px);
  /* transition: all 0.3s ease-in; */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.home1_product_img {
  width: 100%;
  height: 85%;
  /* max-height: 160px; */
  /* max-height:; */
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
}

.home1_product_p {
  text-transform: uppercase;
  font-size: 1rem;
  color: #2c5271;
  /* margin-top: 0.4rem; */
  font-weight: 600;
}

.home_sec2 {
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #bee7f7, #dcf1fa);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.home_sec2_div {
  padding: 1rem;
  width: 50%;
  line-height: 1.5rem;
}

.home2_h2 {
  color: #2c5271;
  margin-bottom: 1.4rem;
  font-size: 2rem;
  line-height: 1.2;
}

.home2_h4 {
  margin-bottom: 1.1rem;
  color: #316188;
  /* font-size: 1.2rem; */
}
.home2_details {
  margin-bottom: 0.8rem;
  color: #316188;
  font-size: 1.1rem;
}
.home2_img{
width:350px;
max-width: 100%;
}
.home_sec3{
  margin: 0 4% 5%;
}
 /* .home3_partners{
padding:;
 } */

.home3_infoLink{
  max-width: 250px;
  margin-left: 7% ;
  margin-bottom: 2rem;
  display: flex;
  /* justify-content: space-evenly; */
  gap:10%;
  align-items: center;
  border: 2px solid #6d9abe;
  border-radius: 10px;
  padding: 1rem;
}
.home3_infoLink:hover {
  transition: all 0.3s ease-out;
box-shadow:2px 2px 15px #0000004d;

}
.partner_logo {
max-width: 70px;
/* padding: 10px ; */
}

.partner_name {
  color: #2c5271;
  /* font-weight: 300; */
  font-size: 18px;
} 
.about_text {
  color:#316188;
  font-size: 1rem;
line-height: 1.6;
  margin-bottom: 2rem;
  /* word-spacing: 1px; */

}
.home_sec4 {
  display: flex;
  background: radial-gradient(circle, #dcf1fa, #c0e7f7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem ;
  min-height: 100vh;
}

.home4_form {
  width: 45%;
}

 @media (max-width: 1024px) {
   .home2_img {
  max-width: 290px; 
  }
  .home4_form {
    width: 65%;
  }
} 

@media (max-width: 768px) {
  .home_sec2 {
    flex-direction: column; 
    align-items: center;
    /* padding: 2rem 1rem;  */
  }

  .home_sec2_div {
    width: 100%; 
    padding: 1rem;
    text-align: center; 
  }

  .home2_h2 {
    font-size: 1.5rem; 
  }

  .home2_h4 {
    font-size: 1.3rem; 
  }

  .home2_img_div{
display: flex;
align-items: center;
justify-content: center;
  }

  .home2_img {
    width: 80%; 
    max-width: 300px; 
  }
  
}

@media (max-width: 480px) {
  .home2_h2 {
    font-size: 1.2rem; 
  }

  .home2_h4 {
    font-size: 1rem; 
  }

  .home_sec2 {
    padding: 2rem  0.5rem;
  }

  .home2_img {
    width: 90%; 
  }
  .home_h1{
    font-size:1.8em;
    padding: 2rem 2rem 0.3rem ;
  }
  .home4_form { 
    width: 75%;
  }
}
