:root {
  --NavBGColor: #3d729d;
  --NavTextColor: #FFFFFF;
  /* --accent-color: #FFFFFF; */
  --btnColor: #40E0D0;
  --accent-color-dark: #4E4E4E;
  --bgColor: #87CEEB;
  --bgColor2: #F0F8FF;
  --HoverText: #FFD700;
}


.url_section {
  width: 100%;
  padding: 1.2rem 3rem 1.1rem;
  /* background-color: var(--NavBGColor); */
  /* background-color: #dcf0f9; */
  background-color: #e6f4fb;
    font-size:large;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  flex-wrap: wrap;
}
.url_logo p{
  color: #2c5271;
  }

.url_link {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2.5rem;
}
.url_link a {
  text-decoration: none;
  color: #2c5271;

}

.url_link a:hover {
  color: #40bff1c0;
}

.product_menu{
  display: inline-block;
}

.dropdown{
  gap: 8px;
  position: absolute;
  /* position: static; */
  background-color: white;
  box-shadow: 0px 10px 15px black ;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  min-width:max-content;
  z-index: 10;
  /* left: 0; */
} 

@media (max-width: 768px) {

  .url_link {
      font-size: medium;
  }
  .url_section {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
.url_logo{
  margin-bottom: 1rem;
}
  .url_logo p {
    font-size: 1.2rem;
  }
}
 

@media screen and (max-width: 480px) {

  .url_link {
    display: grid;
    grid-template-columns: 1fr;  
    gap: 10px; 
    margin-top: 10px;
  }

  .url_section {
    padding: 1rem;
    text-align: center;
    font-size: medium;
  }
  
  .dropdown{
    width: 90%;
    /* align-items: center; */
    left: 0;
  }
}